<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sempoa.id</title>
  @entryPointStyles('app')

</head>

<body>
  <main id="app">

  </main>
</body>
@entryPointScripts('app')

</html>