node_modules
build
coverage
.vscode
.DS_STORE
.env
tmp
package-lock.json
yarn.lock
bun.lockb
public/assets/app.*
public/assets/*.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
