<!DOCTYPE html>
<html lang="en">

@set('title', 'Plan Sempoa')
@include('layouts/head-tail')

<body class="bg-neutral-100">
    <div class="container mx-auto">
        <img src="/images/sempoa-logo.svg" class="w-40 mx-auto mt-5" alt="" set="">
        <p class="text-center mt-10  mx-auto text-2xl text-darkGreen p-2"> " Biar Sempoa yang menghitung, biar bisnismu
            yang sukses.
            Segera
            langganan
            aplikasi
            akuntansi terbaik, Sempoa!
            "
        </p>

        {{-- PLans Subscription --}}
        <div class="flex flex-wrap items-center justify-center mt-14 p-4 pt-0">


            @if(configPlans.minimalist.isShow)
            {{-- Start Minimalist --}}
            <div class="w-full p-4 md:w-1/2 lg:w-1/4  ">
                <label
                    class="flex flex-col rounded-lg shadow-lg group relative {{ configPlans.minimalist.isActive ? 'bg-green-50  border-2 border-green-800':'bg-white' }} cursor-pointer hover:shadow-2xl">
                    <div class="w-full px-4 py-6 rounded-t-lg card-section-1">
                        <h3 class="mx-auto text-base font-semibold text-center  text-green-800 ">
                            Minimalist
                        </h3>
                        <p class="text-center text-md text-gray-500 line-through ">Rp {{
                            configPlans.minimalist.slashPrice }}</p>
                        <p class="text-5xl font-bold text-center  my-3 text-green-800">
                            {{ configPlans.minimalist.prefixPrice.price }}<span class="text-3xl">{{
                                configPlans.minimalist.prefixPrice.unit }}</span>
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            {{ configPlans.minimalist.maxUser }} User
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Chart of Accounts
                        </p>

                        <p class="text-sm text-center uppercase  text-green-800">
                            Invoice
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Cash & Bank
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Receivable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Payable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            General Ledger
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Income Statement
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Trial Balance
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center w-full h-full py-6 rounded-b-lg bg-green-800">
                        <a href="{{ route('checkout.index',{
                            'plan' : 'Minimalist',
                            'id(token)':company.token
                        })}}"
                            class="w-5/6 py-2 mt-2 font-semibold text-center uppercase bg-white border border-transparent rounded text-green-800 btn-plans"
                            data-plan="{{ configPlans.minimalist.price  }}">
                            Mulai
                        </a>
                    </div>
                </label>
            </div>
            {{-- End Minimalist --}}
            @endif

            @if(configPlans.basic.isShow)
            {{-- Start Basic --}}
            <div class="w-full p-4 md:w-1/2 lg:w-1/4 ">
                <label
                    class="flex flex-col rounded-lg shadow-lg group {{ configPlans.basic.isActive ? 'bg-green-50  border-2 border-green-800':'bg-white' }} relative cursor-pointer hover:shadow-2xl">
                    <div class="w-full px-4 py-6 rounded-t-lg card-section-1">
                        <h3 class="mx-auto text-base font-semibold text-center  text-green-800 ">
                            Basic
                        </h3>
                        <p class="text-center text-md text-gray-500 line-through ">Rp {{
                            configPlans.basic.slashPrice }}</p>
                        <p class="text-5xl font-bold text-center  my-3 text-green-800">
                            {{ configPlans.basic.prefixPrice.price }}<span class="text-3xl">{{
                                configPlans.basic.prefixPrice.unit }}</span>
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            {{ configPlans.basic.maxUser }} User
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Chart of Accounts
                        </p>

                        <p class="text-sm text-center uppercase  text-green-800">
                            Invoice
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Cash & Bank
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Receivable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Payable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            General Ledger
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Income Statement
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Trial Balance
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center w-full h-full py-6 rounded-b-lg bg-green-800">
                        <a href="{{ route('checkout.index',{
                            'plan' : 'Basic',
                            'id(token)':company.token
                        })}}"
                            class="w-5/6 py-2 mt-2 font-semibold text-center uppercase bg-white border border-transparent rounded text-green-800 btn-plans"
                            data-plan="{{ configPlans.basic.price }}">
                            Mulai
                        </a>
                    </div>
                </label>
            </div>
            {{-- End Basic --}}
            @endif

            @if(configPlans.medium.isShow)
            {{-- Start Medium --}}
            <div class="w-full p-4 md:w-1/2 lg:w-1/4 ">
                <label class="flex flex-col rounded-lg shadow-lg {{ configPlans.medium.isActive ? 'bg-green-50  border-2 border-green-800'
                    :'bg-white' }} group relative cursor-pointer hover:shadow-2xl">
                    <div class="w-full px-4 py-6 rounded-t-lg card-section-1">
                        <h3 class="mx-auto text-base font-semibold text-center  text-green-800 ">
                            Medium
                        </h3>
                        <p class="text-center text-md text-gray-500 line-through ">Rp {{
                            configPlans.medium.slashPrice }}</p>
                        <p class="text-5xl font-bold text-center  my-3 text-green-800">
                        <p class="text-5xl font-bold text-center  my-3 text-green-800">
                            {{ configPlans.medium.prefixPrice.price }}<span class="text-3xl">{{
                                configPlans.medium.prefixPrice.unit }}</span>
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            {{ configPlans.medium.maxUser }} User
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Chart of Accounts
                        </p>

                        <p class="text-sm text-center uppercase  text-green-800">
                            Invoice
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Cash & Bank
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Receivable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Account Payable
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            General Ledger
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Income Statement
                        </p>
                        <p class="text-sm text-center uppercase  text-green-800">
                            Trial Balance
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center w-full h-full py-6 rounded-b-lg bg-green-800">
                        <a href="{{ route('checkout.index',{
                            'plan' : 'Medium',
                            'id(token)':company.token
                        })}}"
                            class="w-5/6 py-2 mt-2 font-semibold text-center uppercase bg-white border border-transparent rounded text-green-800 btn-plans"
                            data-plan="{{ configPlans.medium.price }}">
                            Mulai
                        </a>

                    </div>
                </label>
            </div>
            {{-- End Medium --}}
            @endif

            {{-- Start Enterprise --}}
            <div class=" w-full p-4 md:w-1/2 lg:w-1/4 ">
                <label class=" flex flex-col rounded-lg shadow-lg group {{ configPlans.enterprise.isActive ? 'bg-green-50  border-2 border-green-800'
                :'bg-white' }} relative cursor-pointer
                            hover:shadow-2xl ">
                    <div class="w-full px-4 py-4 rounded-t-lg card-section-1 flex-1">
                        <h3 class="mx-auto text-base font-semibold text-center  text-green-800  ">
                            Enterprise
                        </h3>
                        <p class="text-2xl  text-center my-28 text-green-800">
                            Paket khusus yang sesuai dengan bisnis Anda
                        </p>
                    </div>
                    <div class="flex flex-col items-center justify-center w-full h-full py-6 rounded-b-lg bg-green-800">
                        <a href="{{ route('contact-us.index')}}" target="_blank"
                            class="w-5/6 py-2 mt-2 font-semibold text-center uppercase bg-white border border-transparent rounded text-green-800 "
                            id="btn-contact-us">
                            Kontak Kami
                        </a>
                    </div>
                </label>
            </div>
            {{-- End Enterprise --}}
        </div>
        {{-- ENd Plans --}}
    </div>
</body>

</html>