<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sempoa.id | {{ title }} </title>
    <link rel="icon" type="image/png" href="{{  config.url }}/assets/img/favicon.ico">
    </link>
    <meta name="description" content="Website Sempoa">
    </meta>
    @entryPointStyles('app')
</head>